<%/*
 apply
 comment
 commentForm
 commentError
*/%>

<div class="border-top">
  <% if(comment3.isDeleted){ %>
  <% } else { %>
    <div class="row pt-1 pb-1">
      <div class="col-3 col-md-2 col-lg-1 pl-4"><%= comment3.author.username %></div>
      <div id="comment3-<%= comment3._id %>" class="col-9 col-md-10 col-lg-11 <%= (comment3Error._id == comment3._id)?'comment3-edit-enabled':'' %> <%= (comment3Error.parentComment2 == comment3._id)?'comment3-reply-enabled':'' %>">
        <div class="comment3-show">
          <div class="comment3-text mb-3"><%= comment3.text %></div>
          <small class="d-block">
            ( 게시일: <span data-date-time="<%= comment3.createdAt %>"></span>
            <% if(comment3.updatedAt){ %>
              | 수정일: <span data-date-time="<%= comment3.updatedAt %>"></span>
            <% } %>
            )
          </small>
          <% if(isAuthenticated){ %>
            <small class="d-block">
              <a href="javascript:void(0)" onclick="$('.comment3-reply-enabled').removeClass('comment3-reply-enabled'); $('.comment3-edit-enabled').removeClass('comment3-edit-enabled'); $('#comment3-<%= comment3._id %>').addClass('comment3-reply-enabled')">댓글</a>
              <% if(comment3.author && currentUser.id == comment3.author.id){ %>
                |
                <a href="javascript:void(0)" onclick="$('.comment3-reply-enabled').removeClass('comment3-reply-enabled'); $('.comment3-edit-enabled').removeClass('comment3-edit-enabled'); $('#comment3-<%= comment3._id %>').addClass('comment3-edit-enabled')">수정</a>
                |
                <form action="/comments3/<%= comment3._id %>?post2Id=<%= post2._id %>&_method=delete<%= getPost2QueryString(true) %>" method="post" class="d-inline">
                  <a href="javascript:void(0)" onclick="confirm('이 댓글을 지우시겠습니까?')?this.parentElement.submit():null;">삭제</a>
                </form>
              <% } %>
            </small>
          <% } %>
        </div>
        <br>
        <div class="comment3-edit">
          <%- include('./comment3-form', {
            actionUrl:'/comments3/' + comment3._id + '?post2Id=' + post2._id + '&_method=put',
            comment3: comment3,
            comment3Form: comment3Form,
            comment3Error: comment3Error,
            parentComment3: null,
          }); %>
        </div>
        <div class="comment3-reply">
          <%- include('./comment3-form', {
            actionUrl:'/comments3?post2Id=' + post2._id,
            comment3: {},
            comment3Form: comment3Form,
            comment3Error: comment3Error,
            parentComment3: comment3._id,
          }); %>
        </div>
      </div>
    </div>
  <% } %>

  <div class="ml-3">
    <% if(comment3.childComments3){ %>
      <% comment3.childComments3.forEach(function(childComment3) { %>
        <%- include('./comment3-show', {
          post2: post2,
          comment3: childComment3,
          comment3Form: comment3Form,
          comment3Error: comment3Error,
        }); %>
      <% }) %>
    <% } %>
  </div>

</div>
